<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.damon.dao.AdminMapper">
    <sql id="query">
    id, username, password, status, salt
    </sql>
    <select id="queryByUsername" resultType="Admin">
        select
        <include refid="query"/>
        from yx_admin where username=#{username}
    </select>
</mapper>